name: font_gallery
description: An app which showcases the different fonts
publish_to: 'none'
version: 1.1.3+5

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.1.1
  lottie: ^2.3.2
  google_fonts: ^4.0.4
  flutter_riverpod: ^2.3.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true
  assets:
  - assets/